.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 1rem;
}

.text {
    color: var(--color-text);
    flex: 1 0 auto;
    margin-left: 0.5rem;
}

.button {
    background-color: transparent;
    transition: all 200ms ease-in;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.button:hover {
    transform: scale(1.2) rotate(30deg);
    background-color: var(--color-accent);
}
